<div class="background rep">
<header class="medium-fade shadow">
  <div class="wrapper">
    <div id="logo">
      <h1>Sales Helper</h1>
    </div>
    <div id="link">
      <a href="/logout">Log Out</a>
    </div>
  </div>
</header>

<div class="Yeseva">
  <div id="repname">
<h1><%= @representative.name %></h1>
<h3><%= @representative.territory %></h3>
  </div>
</div>
<br>
<div class="addcust">
<a href="/customers/new">Add A Customer</a>
</div>

<div class="Yeseva">
  <div class="form shadow" id="list">
  <h4>Accounts</h4>
<ol>
  <% @representative.customers.each do |customer| %>
  <li><a href="/customers/<%= customer.slug %>"><%= customer.name%> - <%= customer.contact %></a></li>
  <% end %>
</ol>
</div>
</div>
</div>