<div class="background edit">
<header class="medium-fade shadow">
  <div class="wrapper">
    <div id="logo">
      <h1>Sales Helper</h1>
    </div>
    <div id="link">
      <a href="/logout">Log Out</a>
    </div>
  </div>
</header>

<div class="addcust">
<a href="/representatives/<%= @customer.representative.slug %>">Accounts</a>
</div>

<div class="form shadow">
  <div id="signlog">
  <h2>Edit this customer</h2>
  </div>
<form action="/customers/<%= @customer.slug %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <label>Account name: </label>
  <br>
  <label for="name"><%= @customer.name %></label>
  <input type="text" name="customer[name]" id="name" />
  <br>
  <label>Contact name: </label>
  <br>
  <label for="contact"><%= @customer.contact %></label>
  <input type="text" name="customer[contact]" id="contact" />
  <br>
  <br>
  <label>Quantity: </label>
  <br>
  <br>
  <% @customer.items.each do |item| %>
  <label for="item_<%= item.id %>"><%= item.name %></label>
  <input type="text" name="<%= item.id %>" id="item_<%= item.id %>" />
  <br>
  <% end %>
  <br>
  <label>New Purchases: </label>
  <br>
  <label for="itemname1">Item name: </label>
  <input type="text" name="items[][name]" id="itemname1" />
  <br>
  <label for="quantity1">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity1" />
  <br>
  <br>
  <label for="itemname2">Item name: </label>
  <input type="text" name="items[][name]" id="itemname2" />
  <br>
  <label for="quantity2">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity2" />
  <br>
  <br>
  <label for="itemname3">Item name: </label>
  <input type="text" name="items[][name]" id="itemname3" />
  <br>
  <label for="quantity3">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity3" />
  <br>
  <br>
  <label for="itemname4">Item name: </label>
  <input type="text" name="items[][name]" id="itemname4" />
  <br>
  <label for="quantity4">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity4" />
  <br>
  <br>
  <label for="itemname5">Item name: </label>
  <input type="text" name="items[][name]" id="itemname5" />
  <br>
  <label for="quantity5">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity5" />
  <br>
  <br>
  <label for="itemname6">Item name: </label>
  <input type="text" name="items[][name]" id="itemname6" />
  <br>
  <label for="quantity6">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity6" />
  <br>
  <br>
  <div class="buttons">
  <button type="submit">Save</button> 
  </div>
</form>
</div>
</div>