<% require 'date' %>
<h3>Sales Helper</h3>
<a href="/logout">Log Out</a>

<h1><%= @customer.name %></h1>
<h3><%= @customer.contact %></h3>
<br>
<button><a href ="/customers/<%= @customer.slug %>/edit">Edit Account</a></button>

<div>
<p class="categories">NEED: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 365, today - 90) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div>

<div>
<p class="categories">RUNNING LOW: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 90, today - 60) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div> 

<div>
<p class="categories">JUST BOUGHT: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 60, today) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div>

<div>
<p class="categories">NOT PUCHASED IN OVER A YEAR: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 365, today - 10000) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div>
