<% require 'date' %>
<div class="background custshow">
<header class="medium-fade shadow">
  <div class="wrapper">
    <div id="logo">
      <h1>Sales Helper</h1>
    </div>
    <div id="link">
      <a href="/logout">Log Out</a>
    </div>
  </div>
</header>

<div class="addcust">
<a href="/representatives/<%= @customer.representative.id %>">Accounts</a>
</div>

<div class="customer Yeseva">
  <div id="custname">
<h1><%= @customer.name %></h1>
</div>
<div id="custcontact">
<h3><%= @customer.contact %></h3>
</div>
</div>
<br>
<div class="move2">
<button id="editdelete"><a href ="/customers/<%= @customer.id %>/edit">Edit Account</a></button>
</div>
<div class="move">
<form action="/customers/<%= @customer.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete" />
  <button id="editdelete" type="submit">Delete Account</button>
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="Yeseva">
<div class="section shadow">
<p class="need">NEED: </p>


<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 365, today - 90) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div>


<div class="section shadow">
<p class="running_low">RUNNING LOW: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 90, today - 60) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div> 

<div class="section shadow">
<p class="just_bought">JUST BOUGHT: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 60, today) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div>

<div class="section shadow">
<p class="one_year">NOT PUCHASED IN OVER A YEAR: </p>

<% @customer.items.each do |item| %>
<% now = item.date.to_date %>
<% today = Date.current %>
<% if now.between?(today - 365, today - 10000) %>
<ul>
  <li><%= item.name %>, <%= item.quantity %> purchased on <%= item.date %></li>
</ul>
<% end %>
<% end %>
</div>
</div>
</div>
